<h1></h1>

<h2>newWebsite</h2>


       <a href = "/dev/{{website.id}}">See Website</a>  

      {{website.title}}
      {{website.tagline}}
      {{website.header_image}}
      {{website.block_1_image}}
      {{website.block_1_head}}
      {{website.block_1_text}}
      {{website.block_2_image}}
      {{website.block_2_head}}
      {{website.block_2_text}}
      {{website.block_3_image}}
      {{website.block_3_head}}
      {{website.block_3_text}}
      {{website.e_mail}}
      {{website.place_location}}



