<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>
		Your Website
	</title>
	<!-- <link rel="stylesheet" type="text/css" href="assets/css/reset.css"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
	<!-- Compressed CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!-- CSS -->
	{{!-- <link rel="stylesheet" href="/css/styles-form.css"> --}}
	<link rel="stylesheet" href="/css/styles-{{website.theme}}.css">
	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
	<div>
		<header id="header_image" style="background-image: url({{website.header_image}});">
			<div class="col s12 header" id="titleInput">
				{{website.title}}
			</div>
			<p id="taglineInput">
				{{website.tagline}}
			</p>
			{{!-- <p id={{website.theme}}>{{website.theme}}</p> --}}
		</header>
	</div>
	<div class="container" id="mainBlocks">
		<div class="row" id="formRow">
			<div class="col m4" id="block_1">
				<div class="col s12">
					<div class="card">
						<div class="card-image">
							<img src="{{website.block_1_image}}" id="block_1_image">
							<span class="card-title" id="block1HeadInput">{{website.block_1_head}}</span>
						</div>
						<div class="card-content" id="block1textInput">
							<p>{{website.block_1_text}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col m4" id="block_2">
				<div class="col s12">
					<div class="card">
						<div class="card-image">
							<img src="{{website.block_2_image}}" id="block_2_image">
							<span class="card-title" id="block2HeadInput">{{website.block_2_head}}</span>
						</div>
						<div class="card-content" id="block2textInput">
							<p>{{website.block_2_text}}
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col m4" id="block_3">
				<div class="col s12">
					<div class="card">
						<div class="card-image">
							<img src="{{website.block_3_image}}" id="block_3_image">
							<span class="card-title" id="block3textInput">{{website.block_3_head}}</span>
						</div>
						<div class="card-content" id="block3textInput">
							<p>{{website.block_3_text}}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="contact">
		<p id="phoneInput">{{website.phone}}</p>
		<p id="eMailInput">{{website.e_mail}}</p>
		<p id="placeLocationInput">{{website.place_location}}</p>
	</div>

	<div class="footer">
		<p>{{website.title}} Copyright &copy; 2020</p>
	</div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Compressed JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	{{!-- <script src="/js/index.js"></script> --}}
	<!-- <script src="assets/javascript/index-page-js.js"></script> -->

</body>

</html>